{% block nav %}
<nav>
    <div class="nav right justify-content-end flex-nowrap" id="navtab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Home</a>
        <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create"
            aria-selected="false">Create</a>
        <a class="nav-item nav-link" id="nav-view-tab" data-toggle="tab" href="#view" role="tab" aria-controls="view"
            aria-selected="false" onclick="getAll('view')">View</a>
        <a class="nav-item nav-link" id="nav-update-tab" data-toggle="tab" href="#update" role="tab" aria-controls="update"
            aria-selected="false">Update</a>
        <a class="nav-item nav-link" id="nav-delete-tab" data-toggle="tab" href="#delete" role="tab" aria-controls="delete"
            aria-selected="false">Delete</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="nav-home-tab">
        <h1>Welcome</h1>
    </div>
    <div class="tab-pane fade" id="create" role="tabpanel" aria-labelledby="nav-create-tab">{%include "create.html" %}</div>
    <div class="tab-pane fade" id="view" role="tabpanel" aria-labelledby="nav-view-tab">{%include "view.html"%}</div>
    <div class="tab-pane fade" id="update" role="tabpanel" aria-labelledby="nav-update-tab">...</div>
    <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="nav-delete-tab">...</div>
</div>
{% endblock %}